diffusers==0.27.2
torch>=2.0.0
torchvision>=0.15.1
transformers>=4.37.1
xformers==0.0.20
xatlas
cupy-cuda11x==12.2.0
configargparse
ipython
accelerate
safetensors
einops
spaces>=0.19.4
omegaconf
peft
huggingface-hub>=0.20.2
opencv-python
gradio
controlnet_aux
gdown
peft